html, body, header, p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Poppins, sans-serif;
    font-weight: light;
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: stretch;
    color: white;
}

canvas {
    position: absolute;
    z-index: -1;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.windows {
    position: absolute;
    left: 20%;
}

.window {
    position: absolute;
    
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}