html, body {
    margin: 0;
    height: 100vh;
}

html {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
canvas {
    position: absolute;
}

.tabs {
    display: flex;
    position: absolute;
}

.tab {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

label {
    color: white;
}